
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
}

:root {
}

@media (prefers-color-scheme: dark) {
}

body {
  @apply bg-blue-black text-white scroll-smooth h-full;
}

img {
  @apply rounded-lg object-cover; 
}

.background-video {
  @apply object-cover w-full h-full;
}

.font-libre-baskerville {
  font-family: 'Libre Baskerville' !important;
}

.transition-width {
  transition: width 0.2s linear;
}

.transition-width-opacity {
  transition: width 0.3s linear, opacity 0.3s ease-in;
}

.transition-height {
  transition: height 0.2s linear;
}

/* Projects Styles */
.project-section {
  @apply space-y-4;
}

.project-section img {
  @apply w-full;
}

.project-banner {
  @apply h-24 sm:h-36 md:h-48 lg:h-60 xl:h-72;
}

.project-normal-img {
  @apply h-auto;
}

.project-section img.project-img-half-width {
 @apply w-1/2;
}

.project-big-img {
  @apply h-auto;
}

.project-title {
  @apply text-base md:text-lg lg:text-xl xl:text-2xl font-medium;
}

.project-title-description {
  @apply text-xs md:text-base xl:text-lg font-bold;
}

.project-text {
  @apply text-[0.5rem] md:text-xs xl:text-sm;
}

.project-disclaimer {
  @apply text-[0.25rem] md:text-[0.35rem] xl:text-[0.45rem] text-center mx-auto w-3/4;
}